body
{
	font-family: 'Arial', sans-serif;
	font-size: 14px;
	font-weight: 400;
	background: #FFFFFF;
	color: #a5a5a5;
}
div
{
	display: block;
	position: relative;
    box-sizing: border-box;
}
ul
{
	list-style: none;
	margin-bottom: 0px;
}
p
{
	font-family: 'Arial', sans-serif;
	font-size: 14px;
	line-height: 2.14;
	font-weight: 400;
	color: #6c6a74;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
a, a:hover, a:visited, a:active, a:link
{
	text-decoration: none;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}

h1{font-size: 48px;}
h2{font-size: 36px;}
h3{font-size: 24px;}
h4{font-size: 18px;}
h5{font-size: 14px;}
